{#
/**
 * @file user_shortcut_set.html.twig
 * Default theme implementation to present User Shortcut Set data.
 *
 * This template is used when viewing User Shortcut Set pages.
 *
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 * - attributes: HTML attributes for the container element.
 *
 * @see template_preprocess_user_shortcut_set()
 *
 * @ingroup themeable
 */
#}
<div{{ attributes.addClass('user_shortcut_set') }}>
  {% if content %}
    {{- content -}}
  {% endif %}
</div>
